<main class="home">

    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Flotilla de Vehiculos</h1>
            <h3 class="mb-5">
                <em>Guarda un vechiculo</em>
            </h3>
            <a href="links/add" class="btn btn-secondary">Agregar</a>
        </div>
    </header>

</main>